@import "tailwindcss";

/* @font-face {
    font-family: "Noto Sans TC";
    src: url("@/assets/fonts/NotoSansTC-Regular.ttf");
} */

@theme {
    /* 設定主色 */
    /* --color-*: initial; */
    /* --color-primary: #0b1215; */

    /* 設定文字類別 */
    /* --font-notoSansTC: 'Noto Sans TC', sans-serif; */

}

@layer base {
    button {
        cursor: pointer;
    }
}

/* 透過 --spacing() 函數，可以產生基於theme中的spacing ，等同於= calc(var(--spacing) * 4)*/
@layer components {
    /* .btn-primary {
        border-radius: calc(infinity * 1px);
        background-color: var(--color-yellow);
        padding-inline: --spacing(5);
        padding-block: --spacing(2);
        font-weight: var(--font-weight-semibold);
        color: var(--color-primary);
        box-shadow: var(--shadow-md);
        &:hover {
            @media (hover: hover) {
                background-color: var(--color-white);
            }
        }
    } */
}

/* 新增tailwind所沒有的開箱即用class */
/* @utility content-auto {
    content-visibility: auto;
} */

@utility writing-mode-vertical-lr {
    writing-mode: vertical-lr;
} 

@utility container {
    padding-inline: 20px;
    margin-inline: auto;
    
    @variant sm {
        padding-inline: 24px;
    }
    
    @variant lg {
        padding-inline: 20px;
        max-width: 1280px;
    }
    
    @variant xl {
        padding-inline: 40px;
        max-width: 1280px;
    }
}


/* 使用 @variant 將tinlwind可用的variant 加入倒客製化的class*/
.my-button {
    background-color: #8dc149;
    @variant hover {
        background-color: #4e4e4e;
    }
    
}


/* 使用@apply 將目前存在的 utility classes 加到客製化的class */
.flex-center {
    @apply flex justify-center items-center
}